@{
    ViewData["Title"] = "Terms and Policies";
}


<div class="container">
    <main>
        <h2>Terms and Policies</h2>
        <p>
            - Year quantity for a timeshare is 10 years by default.
        </p>
        <p>- Reservation fee is 500.000VND. This fee must be paid before the property is officially offered for sale; else, your reservation will be instantly canceled.</p>
        <p>- You can reserve a propety that has the same block with others. We will resolve the reservation from the top of the list. If the previous reservation holder have chosed to buy property, we will not return the reservation fee. Please consider before making the reservation!</p>
        <p>- Reservation holders will receive priority and be contacted first when properties become available for sale.</p>
        <p>- We will resolve your reservation fee on property's sale date</p>
        <p>     + If you have paid for reservation fee and your order is 1, you can pay for deposit fee if you want.</p>
        <p>     + If your order is any number from 1, you have to wait that much days to be resolved</p>
        <p>         *For example, if your order is 2 and the property is open for sale on 1/1/2024, you can pay for deposit fee on 2/1/2024, if the previous person doesn't pay for it.</p>
        <h2>Payment details:</h2>
        <p style="color:red">- Once you haved paid for any fee. The payment will not be returned under any circumstance!</p>
        <p> - Reservation fee for all properties are 500,000 VND each.</p>
        <p>
            - Deposit fee is 10% of total fee.
        <p>
            - Our total fee will be divided into 3 terms:
        </p>
        <p>
            + First term: you must pay within 7 days from the day you pay the deposit fee
        </p>
        <p>
            + Second term: you must pay within 1 year from the day you pay the deposit fee
        </p>
        <p>
            + Third term: you must pay within 2 year from the day you pay the deposit fee
        </p>
        </p>
        <p>- You can cancel their reservations after making them. If you have paid a deposit and wish to cancel the reservation, please contact us to resolve.</p>
    </main>
</div>



