

@{
    ViewData["Title"] = "Terms and Policies";
}
<!--
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="#">Home</a> / Terms and Policies</span>
                <h3>Terms and Policies</h3>
            </div>
        </div>
    </div>
</div>
-->

    <div class="container">
        <main>
            <h2>Terms and Policies</h2>
            <p>
                - Year quantity for a timeshare is 10 years by default. This fee must be paid before the property is officially offered for sale; else, your reservation will be instantly canceled.
            </p>
            <p>- You can reserve a propety that has the same block with others. We will resolve the reservation from the top of the list. If the previous reservation holder haved chosed to buy property, we will not return the fee. Please consider before making the reservation!</p>
            <p>- Reservation holders will receive priority and be contacted first when properties become available for sale.</p>
            <p>- Your have to wait until your resolve date:</p>
            <p>+ Your reservation fee resolve date = property's sale date</p>
            <p>+ Your deposit fee resolve date = property's sale date + your order - 1</p>

            <h2>Payment details:</h2>
            <p>- Once you haved paid for any fee. The payment will not be returned under any circumstance!</p>
            <p> - Reservation fee for all properties are 500,000 VND each.</p>
            <p>
                - Deposit fee is 10% of total fee.
            </p>
            <p>- This fee must be paid before the property is officially offered for sale; else, your reservation will be instantly canceled.</p>
            <p>- You can cancel their reservations after making them. If you have paid a deposit and wish to cancel the reservation, please contact us to resolve.</p>
        </main>
    </div>


 
  