@model IEnumerable<TimeShareProject.Models.Project>

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="margin-bottom:20px;">PROJECT DETAIL</h1
    <br/>
@* <div class="d-flex justify-content-between">
 *@ 
 <div class="container">
     <div class="row">
          @foreach (var item in Model)
    {
        <div class="col-4">
            <div> <a class="" asp-action="Details" asp-route-id="@item.Id"><img height="150px" src="~/img/@item.Image1" alt="Image 1" /></a></div>
            <div>@Html.DisplayFor(modelItem => item.Name)</div>
            @if (item.Status == true)
            {
                <div style="color:seagreen; font-weight:500">Active</div>
            }
            else
            {
                <div style="color:darkred; font-weight:500">Inactive</div>
            }
        </div>
    }
     </div>
 </div>

@* </div>
 *@<br />
<p>
    <a  asp-action="Create" style="font-weight:600; text-transform:uppercase">Create New</a>
</p>